<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../css/index.css">


	<script type="text/javascript">
		$(document).ready(function(){

			$( "#form2" ).submit(function(event) {
				event.preventDefault();

				$.ajax({
					type: 'POST',
					url: '/admin',
					data: $('#form2').serialize(),
					dataType: "json",
					success: function(response){
						//alert("a");
						//console.log(response.Success);
						$('#form2')[0].reset();

						document.getElementById("check1").innerHTML=response.Success;
         					//ADD THIS CODE
         					setTimeout(function(){
         						document.getElementById("check1").innerHTML="";
         					},3000);
         					if (response.Success=="You are regestered,You can login now.") {
         						document.getElementById("aa1").click();
         					};
         				},
         				error: function() {
         				}
         			})
			});
		});
	</script>
</head>
<body>

	

	<h1>Registration form</h1>
	<div class="form-container">
<form name="registerForm" id="form1">

<label for="e-mail">E-mail address *</label>
<input type="text" id="e-mail" name="email" placeholder="john-doe@net.com" required/>
<p class="error-message"></p>

<label for="username">UserName *<E</label>
<input  type ='text'name='username' placeholder="swapnil123" required=""/>
<p class="error-message"></p>


<label for="password">Password *<E</label>
<input  type ='password'name='password' placeholder="password" required=""/>
<p class="error-message"></p>

<label for="passwordconf">passwordConf *<E</label>
<input  type ='password'name='passwordConf' placeholder="password" required=""/>
<p class="error-message"></p>



  <input class="button" type="submit" value="submit" name="submit" />
</div>
		

</form>
		
		<div class="mssg bg-danger">   
			<span id="check1"></span>
		</div>
		<div>
			<span>Already Registered! <a href="/adminlogin">Login</a></span>
		</div>
		<div id="LangTable"><a href="/adminlogin" id="aa1"></a>
		</div>
	</div>
</body>
</html>