<!DOCTYPE html>
<html>
<head>
	<title>USER-CONTROL</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-scroll">
		<div class="container">
		  <img src="\css\img\logo.jpg" height="100" alt=""
			loading="lazy" />
		  <button class="navbar-toggler ps-0" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
			aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon d-flex justify-content-start align-items-center">
			  <i class="fas fa-bars"></i>
			</span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarExample01">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
			  <li class="nav-item active">
				<a class="nav-link" aria-current="page" href="/adminpanel" style ='height:50px; color:red'>ADMIN PANEL</a>
			  </li>
			  
			</ul>
	  
			
		  </div>
		</div>
	  </nav>
      <div id="controlsContainer">
        <div id="addProject" class="controlsChild">
            <a class="nav-link" aria-current="page" href="/addproject" ><button type="button" class="btn-controls"> Add Project </button></a>
        </div>
        <div id="employeeData"class="controlsChild">
            <a class="nav-link" aria-current="page" href="/adminpanel" ><button button type="button" class="btn-controls"> Employee Data </button></a>
        </div>
        <div id="registerContainer"class="controlsChild">
            
            <a class="nav-link" aria-current="page" href="/taskdetails" ><button button type="button" 
				class="btn-controls">Task-Details</button></a>
        </div>
        <div id="adminlogout"class="controlsChild">
            <a class="nav-link" aria-current="page" href="/adminlogout" ><button button type="button" class="btn-controls"> Admin Logout </button></a>

        </div>
    

        
      </div>
	  

	<script type="text/javascript">
		
		

	</script>
</body>
</html>